<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>P2P Lending | {{ page.title }}</title>
<link href="http://theodi.github.io/odi-bootstrap/css/odi-bootstrap.css" rel="stylesheet">
<style type="text/css">
.navbar-inner {
	position: relative;
	height: 70px;
}

.navbar-inner h1 {
	color: #fff;
	font-size: 32px;
	position: absolute;
	top: 14px;
	margin: 0;
}

.navbar-inner .brand {
	position: absolute;
	right: 0;
}

</style>
</head>
<body>
<nav>
	<div class='navbar navbar-inverse navbar-static-top' id='topbar'>
		<div class='container'>
			<div class='navbar-inner'>
				<h1>show me the money</h1>
				<a class='brand' href='/'>
					<img alt="Logo" src="http://theodi.github.io/p2p/img/logo.png" />
				</a>
			</div>
		</div>
	</div>
	<div class='navbar navbar-static-top' id='mainnav'>
		<div class='container'>
			<div class='navbar-inner'>
				<ul class='nav pull-right'>
					{% assign current = page.link %}
					<li>
						<a href="http://theodi.github.io/p2p">Home</a>
						{% if current == '/' %}
							<div class="arrow-down"></div>
						{% endif %}
					</li>
					{% for p in site.pages %}
						{% if p.title != "Home" %}
						<li>
							<a href="http://theodi.github.io/p2p{{ p.url | remove: 'index.html' }}">{{p.title}}</a>
							{% assign url = p.url | remove:'index.html' %}
							{% if url == current %}
								<div class="arrow-down"></div>
							{% endif %}
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</nav>

<div class='whiteout'>
	<header>
		<div class='container'>
			<h1>{{ page.title }}</h1>
		</div>
	</header>

<div class='container main-default' id='main'>
