{% assign current = page.link %}
<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>show me the money | {{ page.title }}</title>
<link href="http://assets.theodi.org/css/odi-bootstrap-green.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ site.url_root }}/img/odifavicon32.ico">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"> </script>
<script src="http://assets.theodi.org/js/bootstrap-tab.js"> </script>
{% if current == '/' %}
<link rel="stylesheet" href="/visualisation/p2p.css" type="text/css">

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.3/d3.min.js"></script>
<script src="/visualisation/queue.js"></script>
<script src="/visualisation/underscore-min.js"></script>

<script src="/visualisation/topojson.js"></script>
<script src="/visualisation/cartogram.js"></script>
<script src="/visualisation/odi_compressed.js"></script>
{% endif %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34573394-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<nav>
	<div class='navbar navbar-inverse navbar-static-top' id='topbar'>
		<div class='container'>
			<div class='navbar-inner'>
				<h1><a href="/">show me the money</a></h1>
				<span class="label" style="top: -10px; position: absolute; left: 310px;">
					BETA
				</span>
				<a class='brand' href='/'>
					<img alt="Logo" src="{{ site.url_root }}/img/logo.png" />
				</a>
			</div>
		</div>
	</div>
	<div class='navbar navbar-static-top' id='mainnav'>
		<div class='container'>
			<div class='navbar-inner'>
				<ul class='nav pull-right'>
					<li>
						<a href="{{ site.url_root }}/">Home</a>
						{% if current == '/' %}
							<div class="arrow-down"></div>
						{% endif %}
					</li>
					{% for w in (1..10) %}
						{% for p in site.pages %}
							{% if p.menu == "top" and p.weight == w %}
							<li>
								<a href="{{ site.url_root }}{{ p.url | remove: 'index.html' }}">{{p.title}}</a>
								{% assign url = p.url | remove:'index.html' %}
								{% if url == current %}
									<div class="arrow-down"></div>
								{% endif %}
							</li>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</nav>

<div class='whiteout'>
	<header>
		<div class='container'>
			<h1>{{ page.title }}</h1>
		</div>
	</header>

	<div class='container main-default' id='main'>
		<div class='row'>
			<div class='span7'>
